<launch>
  <!-- <arg name="robot_name"        default="robot2"/> -->
  <arg name="synchroManage/debugType" default="1"/>
  <!-- <group ns="$(arg robot_name)"> -->
 <!-- <node pkg="obstacle_detection_2019" name="obstacle_detection_2019_syncro" type="obstacle_detection_2019_syncro" output="screen"/> -->
 <node pkg="obstacle_detection_2019" name="obstacle_detection_2019_syncro" type="obstacle_detection_2019_syncro">
  <param name="debugType" value="$(arg synchroManage/debugType)"/>
 </node> 
 <node pkg="obstacle_detection_2019" name="obstacle_detection_2019_manage" type="obstacle_detection_2019_manage">
  <param name="frameRate" value="20"/>
 </node>
  <!-- </group> -->
</launch>